<section class="landing-wrapper">
    <app-hero></app-hero>
    <app-about-me id="about"></app-about-me>
    <app-skills id="skills"></app-skills>
    <app-portfolio id="portfolio" (projectSelectRelay)="onDialogOpenSignal($event)"></app-portfolio>
    <app-references></app-references>
    <app-contact id="contact"></app-contact>
    <app-footer></app-footer>
</section>

@if(portfolioDialogOpen){
    <app-portfolio-dialog [projectData]="selectedProject" (dialogClose)="dialogIsClosed($event)"></app-portfolio-dialog>
}