<section class="page-wrapper">
    <app-hero></app-hero>
    <app-about-me id="about"></app-about-me>
    <app-skills id="skills"></app-skills>
    <app-portfolio id="portfolio" (selectPortfolioProjectByIdRelay)="receiveProjectId($event)"></app-portfolio>
    <app-references></app-references>
    <app-contact id="contact"></app-contact>
    <app-footer id="footer"></app-footer>
</section>

@if(portfolioDialogOpen){
    <app-portfolio-dialog [projectId]="selectedPortfolioById" (dialogClose)="dialogIsClosed($event)"></app-portfolio-dialog>
}

@if(mobileMenuOpen$ | async){
    <app-menu-mobile></app-menu-mobile>
}