@import './../../../styles.scss';


.contact-button{
    grid-column: 1;
    @include display-flex-setup(row, flex-start, center, 6px);
    cursor: pointer;
    background: transparent;
    border: unset;
    padding: 0;
}

.icon-container{
    position: relative;
    width: 32px;
    height: 32px;
    @include display-flex-setup(row, center, center);
    overflow: hidden;

}

.icon {
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    inset: 0;
    opacity: 0;
    transition: opacity 125ms ease-in-out;
}



.icon-colored{
    opacity: 1;
}

.contact-button:hover .icon-colored {
    opacity: 0;
}

.contact-button:hover  {

    & .icon-white{
        opacity: 1;
    }

    & .dot {
        opacity: 1;
    }
}

.dot-cell{
    grid-column: 2;
    position: relative;
    @include display-flex-setup(row, center, center);
    inset: 0;
}

.dot {
    display: inline-block;
    width: 6.4px;
    height: 6.4px;
    border-radius: 9999px;
    opacity: 0;
    background-color: var(--default-element-color);
    transition: opacity 125ms ease-in-out;
}