<a
    class="contact-button"
    [href]="iconLink.linkTarget"
    [target]="iconLink.linkTargetPlace"
    [attr.rel]="iconLink.linkTargetPlace === '_blank' ? 'noopener noreferrer' : null"
    [attr.aria-label]="iconLink.linkName"
>
    <div class="icon-container">
        <img alt="icon" [src]="'/assets/icon/' + iconLink.linkName + 'Colored.svg'" class="icon icon-colored">
        <img alt="icon" [src]="'/assets/icon/' + iconLink.linkName + 'White.svg'" class="icon icon-white">
    </div>
    <div class="dot-cell">
        <div class="dot"></div>
    </div>
</a>