@import './../../../styles.scss';

$transitionTime: 125ms; 

.contact-button{
    grid-column: 1;
    display: grid;
    grid-template-columns: 32px 14px;
    cursor: pointer;
    background: transparent;
    border: unset;
    padding: 0;
}

.icon-container{
    grid-column: 1;
    position: relative;
    width: 32px;
    height: 32px;
    @include display-flex-setup(row, center, center);
    overflow: hidden;

}

.icon {
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    inset: 0;
    opacity: 0;
    transition: opacity $transitionTime ease-in-out;
}



.icon-colored{ opacity: 1;}
.contact-button:hover .icon-colored { opacity: 0;}
.contact-button:hover .icon-white{ opacity: 1 };
.contact-button:hover .dot {opacity: 1;}

.dot-cell{
    grid-column: 2;
    position: relative;
    @include display-flex-setup(row, center, center);
    inset: 0;
}

.dot {
    @include createOneDot(6.4px, 6.4px);
    opacity: 0;
    background-color: var(--default-element-color);
    transition: opacity $transitionTime ease-in-out;
}