
<article class="contact-input-container" (mouseover)="onMouseEnter()" (mouseleave)="onMouseLeave()">

    <div class="contact-item-line"></div>

    <div class="contact-input-field-container">
        <label [for]="contactFieldIndex" class="contact-item-title">{{ contactData.title }}</label>

        <div class="input-wrapper">
            <input 
            [(ngModel)]="contactData.contactValue"
            [id]="contactFieldIndex" 
            [name]="contactData.contactField" 
            class="contact-input-field" 
            [attr.type]="contactData.contactField == 'email' ? 'email' : 'text'" 
            (input)="onInput()"
            (blur)="onBlur()"
            [class.inputHasError]="hasError"
            required
            [attr.autocomplete]="contactData.contactField === 'email' ? 'email' : 'off'"
            [attr.minlength]="4"
            [attr.pattern]="contactData.contactField === 'email' ? '[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}' : null"
            title="Contact field"
            #field="ngModel"
            >

            <!-- Als Overlay -->
            <span>
                {{ hasError ? contactData.errorText : contactData.placeholterText }}
            </span>

        </div>

        
    </div>
   
</article>