
<article class="contact-input-container" (mouseover)="onMouseEnter()" (mouseleave)="onMouseLeave()">

    <div class="contact-item-line"></div>

    <div class="contact-input-field-container">
        <label [for]="contactFieldIndex" class="contact-item-title">{{ contactData.title }}</label>

        <div class="input-wrapper">
            <input 
                [(ngModel)]="contactData.contactValue"
                [id]="contactFieldIndex" 
                [name]="contactData.contactField" 
                class="contact-input-field" 
                [type]="contactData.contactField === 'email' ? 'email' : 'text'"
                [inputMode]="contactData.contactField === 'email' ? 'email' : 'text'" 
                (input)="onInput(field)"
                (blur)="hasFocus = false; onBlur(field)"
                (focus)="hasFocus = true"
                required
                [autocomplete]="contactData.contactField === 'email' ? 'email' : 'off'"
                [pattern]="contactData.contactField === 'email' ? emailPattern : '.*'"
                [minlength]="contactData.contactField === 'email' ? null : 4"
                title="Contact field"
                #field="ngModel"
            >

            <!-- Als Overlay -->
            <span 
                class="input-overlay"
                [class.placeHolderError]="field.invalid && field.touched"
                [class.placeHolderNormal]="!field.touched && !hasText(field)"
                [class.hidden]="hasText(field)"
                >
                {{ field.invalid && field.touched ? contactData.errorText : contactData.placeholterText }}
            </span>

        </div>

        <!-- muss ich noch umbauen -->
        <span [class.hidden]="field.invalid && field.touched">
            {{errorMessage}}
        </span>

        
    </div>
   
</article>