@import './../../../../../styles.scss';

.menu-item{
    cursor: pointer;
    text-decoration: none;
    display: grid;
    grid-template-rows: var(--header-row-middle) var(--header-row-height);
    justify-items: center;
}

.menu-item-text{
    grid-row: 1;
    font-family: 'Fira_Code';
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

.dot-cell-container{
    grid-row: 2;
    height: 100%;
    width: 100%;
    @include display-flex-setup(row, center, center);
}

.menu-dot{
    @include createOneDot(6.4px, 6.4px);
    opacity: 0;
    transition: opacity 100ms ease-in;
}

.menu-item:hover .menu-dot{
    opacity: 1;
}

.menu-item {
  &:focus-visible {
    outline: none;

    .menu-dot {
      opacity: 1;
    }
  }
}

.menu-item:active, .active {
    & .menu-item-text{
        color: var(--default-element-color);
    }

    & .menu-dot{
        opacity: 1;
    }
}

.menu-item.active{
  cursor: default;
}