@import './../../../styles.scss';

:host>* {
    background-color: var(--background-dark);
}

.skills-section {
    position: relative;
    overflow: hidden;
    @include display-flex-setup(row, center, center);
    width: 100%;
    min-height: 760px;

}

.skills-section>* {
    position: relative;
    z-index: 1;
    overflow: visible;
}

.skills-content-grid {
    height: 100%;
    width: 100%;
    max-width: var(--max-content-width);
    padding-left: 120px;
    padding-right: 96px;
    display: grid;
    grid-template-columns: 520px 1fr;
    grid-template-rows: 48px auto;
    transition: all 100ms ease;
}

.skills-content-grid::before {
    content: "";
    position: absolute;
    top: 57px;
    left: 0;
    height: 550px;
    width: 550px;
    transform: translateX(-55%);

    background: radial-gradient(circle,
            #08463B 30%,
            #1C1C1C 100%);

    pointer-events: none;
    z-index: 0;

    border-radius: 9999px;
    filter: blur(16px) brightness(0.8);
}

.skill-set-container {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 520px;
}

.card-subtitle {
    margin-top: 24px;
    @include font-setup('Fira_Code', 24px, 700, #fff);
}

.colored {
    color: var(--default-element-color);
}

.card-subtext {
    width: clamp(100%,20vw,330px);
    margin-top: 20px;
    @include font-setup('Karla', 16px, 400, #fff);
}

.skills-btn-container {
    margin-top: 24px;
}

.skillset-grid {
    padding-inline: 64px 0;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 135px;
    grid-gap: 48px;
    overflow: visible;
    transition: all 100ms ease;
}

.skillset-grid>* {
    overflow: visible;
    @include display-flex-setup(column, center, center);
}


@media(max-width: 1220px) {
    .skills-content-grid {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media(max-width: 1060px) {
    .skills-content-grid {
        grid-template-columns: 1fr;
        row-gap: 42px;
        align-content: center;
    }

    .skills-content-grid>* {
        width: min(100%, var(--mobile-max-width));
    }

    .skill-set-container {
        width: 100%;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }

    .skillset-grid {
        grid-column: 1;
        grid-row: 3;
        padding-inline: 0;
        margin-left: auto;
        margin-right: auto;
        grid-gap: 16px;
    }
}