<section class="skills-section">
    <article class="skills-content-grid">
        <div class="skill-set-container">
            @if(skillCardData$ | async; as skillCardDate){
                <app-card>
                    <span cardEyebrow>{{skillCardDate.skillCardEyebrow}}</span>
                    <h2 class="mb-24 z1" cardTitle>{{skillCardDate.skillCardTitle}}</h2>
                    <p class="card-body z1" cardBody>
                        {{skillCardDate.skillCardBodyContent}}
                    </p>
                    <span cardSubtitle class="card-subtitle white z1">{{skillCardDate.skillCardSubTitlePartOne}}
                        <span class="colored">{{skillCardDate.skillCardSubTitlePartTwo}}</span>
                    </span>
                    <p cardSubtext class="card-subtext z1">
                        {{skillCardDate.skillCardSubText}}
                    </p>
                    <div cardButton class="skills-btn-container z1">
                        <app-button variant="primary" target="/" targetFragment="contact">{{skillCardDate.skillCardButtonText}}</app-button>
                    </div>
                </app-card>
            }
            
        </div>
        <div class="skillset-grid">

            @for (item of skillItems; track $index) {
                <app-skill-icon iconName="{{ item.iconName }}">{{item.iconText}}</app-skill-icon>
            }
            <app-skill-with-tooltip>
                <app-skill-icon iconElement iconName="growthMindsetIcon" [textColorChange]=true (hoverSkillIconEvent)="receiveHoverFromSkillIcon($event)">Growth mindset</app-skill-icon>
                <app-tooltip tooltipElement [skillIconHoverd]="isSkillIconHovering"></app-tooltip>
            </app-skill-with-tooltip>
            
        </div>
    </article>
</section>