<section class="skills-section" id="skills">
    <article class="skills-content-grid">
        <div class="skill-set-container">
            <app-card>
                <span cardEyebrow>Technologies</span>
                <h2 class="mb-24 z1" cardTitle>Skill Set</h2>
                <p class="card-body z1" cardBody>
                    A short introduction of your skills. 
                    Highlight your experience of using different front-end technologies and 
                    emphasise your openness to learning and adapting to new technologies. 
                    Show how important it is for you to keep up with the rapid changes in web development.
                </p>
                <span cardSubtitle class="card-subtitle white z1">You need <span class="colored">another skill?</span></span>
                <p cardSubtext class="card-subtext z1">Feel free to contact me. 
                    I look forward to expanding on my previous knowledge.
                </p>
                <div cardButton class="skills-btn-container z1">
                    <app-button variant="primary">Let's Talk</app-button>
                </div>
            </app-card>
        </div>
        <div class="skillset-grid">

            @for (item of skillItems; track $index) {
                <app-skill-icon iconName="{{ item.iconName }}">{{item.iconText}}</app-skill-icon>
            }
            <app-skill-with-tooltip>
                <app-skill-icon iconElement iconName="growthMindsetIcon" [textColorChange]=true (hoverSkillIconEvent)="receiveHoverFromSkillIcon($event)">Growth mindset</app-skill-icon>
                <app-tooltip tooltipElement [skillIconHoverd]="isSkillIconHovering"></app-tooltip>
            </app-skill-with-tooltip>
            
        </div>
    </article>
</section>