@import './../../../styles.scss';

.text-page-content {
    width: 100%;
    max-width: var(--max-content-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 96px;
    padding-right: 96px;
    margin-bottom: 96px;
    margin-top: 102px;
}


.page-title {
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
    @include font-setup('Fira_Code', clamp(42px, 1vw ,64px), 700, var(--default-element-color), 120%);
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
}

.sectionH2 {
    @include font-setup('Fira_Code', clamp(32px, 1vw ,48px), 700, #fff, 120%);
    margin-bottom: 12px;
    overflow-wrap: break-word;
    word-break: break-word;
}

.sectionH3 {
    @include font-setup('Fira_Code', clamp(28px, 1vw ,40px), 700, #fff, 120%);
    margin-bottom: 12px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
}

.section-title {
    @include font-setup('Karla', 19px, 700, #fff, 120%);
}

.text-paragraph {
    margin-bottom: 20px;
}



.section-title.more-space {
    margin-bottom: 16px;
}

.normal {
    @include font-setup('Karla', 16px, 400, var(--default-element-color), 120%);
}

.normal.accent {
    color: #fff;
}

.normal.external-link {
    cursor: pointer;
    text-decoration: none;
    transition: color 125ms ease-in;
}

.normal.external-link:hover {
    color: #fff
}


.dot {
    @include createOneDot(4px, 4px);
    transform: translateY(-3.5px);
    margin-right: 6px;
    margin-left: 4px;
}

@media(max-width: 901px) {
    .text-page-content {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        width: min(90vw, var(--mobile-max-width));
    }
}