<section class="marquee-container">
    <div class="fade-viewport">
        <div class="marquee-track" #track>
            @for (num of copies; track $index;){

            <div class="marquee-group" #group>
                @for (item of marqueeTextArrayEN; track $index; let last = $last) {
                <span class="marquee-dot" aria-hidden="true"></span>
                <span class="marquee-text">{{ item }}</span>
                }
            </div>
            }
        </div>
    </div>
</section>