<section class="skills-section" id="skills">
    <article class="skills-content-grid">
        <div class="skill-set-container">
            <app-card>
                <span cardEyebrow>Technologies</span>
                <h2 class="mb-24 z1" cardTitle>Skill Set</h2>
                <p class="card-body z1" cardBody>
                    A short introduction of your skills. 
                    Highlight your experience of using different front-end technologies and 
                    emphasise your openness to learning and adapting to new technologies. 
                    Show how important it is for you to keep up with the rapid changes in web development.
                </p>
                <span cardSubtitle class="card-subtitle white z1">You need <span class="colored">another skill?</span></span>
                <p cardSubtext class="card-subtext z1">Feel free to contact me. 
                    I look forward to expanding on my previous knowledge.
                </p>
                <div cardButton class="skills-btn-container z1">
                    <app-button variant="primary">Let's Talk</app-button>
                </div>
            </app-card>
        </div>
        <div class="skillset-grid">
            <!-- <app-skill-icon iconName="htmlIcon">HTML</app-skill-icon>
            <app-skill-icon iconName="cssIcon">CSS</app-skill-icon>
            <app-skill-icon iconName="jsIcon">JavaScript</app-skill-icon>
            <app-skill-icon iconName="materialIcon">Material Design</app-skill-icon>
            <app-skill-icon iconName="typeScriptIcon">TypeScript</app-skill-icon>
            <app-skill-icon iconName="angularIcon">Angular</app-skill-icon>
            <app-skill-icon iconName="fireBaseIcon">Firebase</app-skill-icon>
            <app-skill-icon iconName="gitIcon">Git</app-skill-icon>
            <app-skill-icon iconName="restApiIcon">REST-API</app-skill-icon>
            <app-skill-icon iconName="scrumIcon">Scrum</app-skill-icon> -->
            <app-skill-icon iconName="growthMindsetIcon" [textColorChange]=true>Growth mindset</app-skill-icon>
        </div>
    </article>
</section>