@import './../../../../styles.scss';


section{
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    background-color: transparent;
    width: 100%;
    max-width: var(--max-content-width);
    height: auto;
    transform: translateX(-50%);
    @include display-flex-setup(row, space-between, flex-end);
    padding-left: 96px;
    padding-right: 96px;
    z-index: 0;
}