@import './../../../styles.scss';




header {
    position: relative;
    width: 100%;
    height: var(--header-height);
    padding-left: 48px;
    padding-right: 48px;
    @include display-flex-setup(row, center, center);

}

header::before {
    z-index: 0;
    content: '';
    position: absolute;
    inset: 0 0 auto 0;
    pointer-events: none;
    height: var(--header-height);
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.45) 40%,
            rgba(0, 0, 0, 0.2) 60%,
            rgba(0, 0, 0, 0) 100%);
}

header>* {
    position: relative;
    z-index: 1;
    max-width: var(--max-content-width);
}

.headerContainer {
    width: 100%;
    height: 100%;
    padding: 0 24px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: var(--header-row-firstAndEnd) var(--header-row-height) var(--header-row-middle) var(--header-row-height) var(--header-row-firstAndEnd);
    align-self: stretch;
}

.menu-desktop {
    grid-column-start: auto;
    grid-row: 3 / span 2;
    display: grid;
    grid-template-rows: var(--header-row-middle) var(--header-row-height);
}

.logo-desktop{
    grid-column-end: auto;
    grid-row: 2 / span 3;
    justify-self: flex-end;
    overflow: hidden;
}