@import './../../../styles.scss';

.skill-item-grid-row {
    display: grid;
    width: 104px;
    height: 129px;
    grid-template-rows: 1fr minmax(44px, 1fr);
    place-content: center;
    cursor: pointer;
}

.skill-item-grid-column{
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    cursor: unset;
}

.skill-item-icon-contaier{
    position: relative;
    height: 76px;
    width: 64px;
    padding-bottom: 8px;
    padding-top: 4px;
    justify-self: center;
    @include display-flex-setup(row, center, center);
}

.skill-item-icon-contaier.projectSkills{
    width: auto;
    height: auto;
    padding: 0;
}

.skill-item-icon {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
    transition: all 150ms ease-in;
}

.skill-item-icon-sm {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
}

.skill-item-text {
    @include display-flex-setup(row, center, flex-start);
    @include font-setup('Fira_Code', 18px, 400, #fff);
    text-align: center;
    transition: color 150ms ease-in;
}

.skill-item-text.column {
    padding-left: 6px;
    @include display-flex-setup(row, flex-start, center);
    @include font-setup('Karla', 16px, 400, #fff, 120%);
}

.skill-item-grid-row:hover .skill-item-icon{
    transform: scale(1.1);
}

.skill-item-grid-row:hover .skill-item-text.textColorChange{
    color: var(--default-element-color);
}
