@import './../../../styles.scss';

.skill-item-grid {
    display: grid;
    width: 104px;
    height: 129px;
    grid-template-rows: 1fr minmax(44px, 1fr);
    place-content: center;
    cursor: pointer;
}

.skill-item-icon-contaier{
    grid-row: 1;
    position: relative;
    height: 76px;
    width: 64px;
    padding-bottom: 8px;
    padding-top: 4px;
    justify-self: center;
    @include display-flex-setup(row, center, center);
}

.skill-item-icon {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
    transition: all 150ms ease-in;
}

.skill-item-text {
    grid-row: 2;
    @include display-flex-setup(row, center, flex-start);
    font-family: 'Fira_Code';
    font-size: 18px;
    font-weight: 400;
    color: #ffff;
    text-align: center;
    transition: color 150ms ease-in;
}

.skill-item-grid:hover .skill-item-icon{
    transform: scale(1.1);
}

.skill-item-grid:hover .skill-item-text.textColorChange{
    color: var(--default-element-color);
}

.skill-mindset-bubble{
    position: absolute;
    z-index: 5;
    width: 188px;
    height: 120px;
    background-color: #ffff;
}