@import './../../styles.scss';

:host>section {
    position: relative;
    isolation: isolate;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    background: linear-gradient(30deg, #1c1c1c 23%, #08463b 100%);
    @include display-flex-setup(column, center, center);
    
}

.hero-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

article {
    @include display-flex-setup(column, center, center);
    z-index: 2;

    & span {
        font-family: 'Fira_Code';
        font-size: 40px;
        font-weight: 400;
        color: var(--text-color-default);
    }

    & h1 {
        font-family: 'Karla';
        font-size: 128px;
        font-weight: 700;
        color: var(--text-color-default);
    }

}

.btn-container {
    @include display-flex-setup(row, center, center, 48px);
    padding-top: 48px;
}

.leteral {
    z-index: 0;
}