@import './../../../styles.scss';

$backDrop: 4px;

section {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;

}

article>* {
    position: relative;
    z-index: 1;
}

.card-container {
    grid-row: 2;
    position: relative;
    @include display-flex-setup(column, flex-start, flex-start);
    isolation: isolate;
    border-radius: 30px;
    border: 1px solid var(--default-element-color);
    padding: 32px;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
}

.card-normal::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    -webkit-backdrop-filter: blur($backDrop);
    backdrop-filter: blur($backDrop);
    background-color: rgba(61, 207, 182, 0.10);
}

.card-isActive::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    -webkit-backdrop-filter: blur($backDrop);
    backdrop-filter: blur($backDrop);
    background-color: rgba(61, 207, 182, 0.30);
}

.card-eyebrow {
    grid-row: 1;
    margin-bottom: 20px;
    font-family: 'Karla';
    font-size: 24px;
    font-weight: 500;
    color: var(--default-element-color);
}

.card-eyebrow:empty{
    display: none;
}

[cardItems]:empty {
    display: none;
}

[cardSubtitle]:empty {
    display: none;
}

[cardSubtext]:empty {
    display: none;
}

[cardButton]:empty {
    display: none;
}

.card-container.references-card{
    padding: 48px 32px;
}