@import './../../../styles.scss';

$backDrop: 4px;

section{
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    
}

.card-eyebrow{
    grid-row: 1;
    margin-bottom: 20px;
    font-family: 'Karla';
    font-size: 24px;
    font-weight: 500;
    color: var(--default-element-color);
}

.card-title{
    font-family: "Fira_Code";
    font-size: 64px;
    font-weight: 700;
    color: var(--default-element-color);
}

article > * {
  position: relative;
  z-index: 1;
}

article{
    grid-row: 2;
    position: relative;
    @include display-flex-setup(column, flex-start, flex-start);
    isolation: isolate;
    border-radius: 30px;
    border: 1px solid var(--default-element-color);
    padding: 32px;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
}

article::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    background-color: rgba(61, 207, 182, 0.10);
    -webkit-backdrop-filter: blur($backDrop);
    backdrop-filter: blur($backDrop);
}