@import './../../../styles.scss';

header{
    position: relative;
    width: 100%;
    height: var(--header-height);
}

header::before {
    z-index: 0;
    content: '';
    position: absolute;
    inset: 0 0 auto 0;
    pointer-events: none;
    height: var(--header-height);
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.45) 40%,
        rgba(0, 0, 0, 0.2) 60%,
        rgba(0, 0, 0, 0) 100%
    );
}

header > *{
    @include display-flex-setup(row, center, center);
    position: relative;
    z-index: 1;
    max-width: var(--max-content-width);
}

.headerContainer{
    width: 100%;
    height: 100%;
    padding: 0 24px;
    @include display-flex-setup(row, space-between, center);
}