.tooltip-background {
    position: absolute;
    z-index: 4;
    top: -83%;
    left: -8px;
    width: 188px;
    height: 112px;
    background-color: #fff;
    border-radius: 16px;
    padding: 12px;
    opacity: 0;
}

.tooltip-corner {
    position: absolute;
    z-index: 3;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: inherit;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotate(-45deg);
    border-radius: 0 0 0 0.25em;
    left: 42px;
    top: -5px;
    opacity: 0;
}