
<section class="aboutMe-section">
    <article class="aboutMe-mainGrid">
        <aside class="foto-grid">
            <div class="foto-container">
                <div class="aboutMe-deco"></div>
                <!-- <img src="" alt="Foto"> -->
                <div class="aboutMe-foto"></div>
            </div>
        </aside>
        <aside class="aboutMe-boxGrid">
            <div class="aboutMe-container">
                <app-card>
                    <span cardEyebrow>Who I Am</span>
                    <span cardTitle>About Me</span>
                </app-card>
            </div>
        </aside>
    </article>
</section>