<section class="footer-section">

    <div class="footer-left">

        @if(footerSectionData$ | async; as footerSectionData){
            <app-logo target="/" targetFragment="header"></app-logo>
            <p>{{footerSectionData.footerDeveloper}}</p>
            <p>{{footerSectionData.footerLocation}}</p>
        }@else {
            <span>Loading...</span>
        }
    </div>

    <div class="footer-center">
        <span>© Enrico Hoffmann 2026</span>
    </div>

    <div class="footer-right">
        @for(link of (footerLinks$ |async) ; track link;){
            <app-dot-link [link]="link"></app-dot-link>
        }
    </div>

</section>
