<section class="contact-section">

    @if(contactSectionData$ | async; as contactSectionData){

        <aside class="contact-column-one">
            
            <p class="contact-eyebrow">{{contactSectionData.contactSectionEyebrow}}</p>
            <h2>{{contactSectionData.contactSectionHeadline}}</h2>
            <article class="contact-description">
                <p>{{contactSectionData.contactSectionSubtile}}</p>
                <p>{{contactSectionData.contactSectionDescription}}</p>
                <p>{{contactSectionData.contactSectionEndTextPartOne}}<span>{{contactSectionData.contactSectionEndTextPartTwo}}</span></p>
            </article>
        </aside>

        <aside class="contact-column-two">

            <form #contactForm="ngForm" (ngSubmit)="onContactFormSubmit(contactForm)">

                @for(contactItem of (contactDataFields$ | async); track contactItem; let index = $index; let last = $last){
                    <app-contact-item [contactData]="contactItem" [formSubmitted]="submitAttempted"
                        [contactFieldIndex]="'contact_id_' + index"></app-contact-item>
                    @if(last){<div class="contact-line"></div>}
                }


                <div class="contact-privacy-submit-grid">
                    <div class="privacy-accept-grid">
                        <div class="privacy-accept-check-container">
                            <app-check-box [privacyCheck]="privacyCheck"></app-check-box>
                        </div>

                        <div class="privacy-accept-notice">
                            <span>{{contactSectionData.contactSectionPrivacyPartOne}}<a [href]="'/privacy-policy'">{{contactSectionData.contactSectionPrivacyLinkName}}</a>{{contactSectionData.contactSectionPrivacyPartTwo}}</span>
                        </div>
                    </div>

                    <span class="privacy-error-message"
                        [class.visible]="contactForm.submitted && !privacyCheck.checked">{{(contactPrivacyAcceptErrorMessage$ | async)}}</span>

                    <span
                        class="server-feedback"
                        [class.visible]="serverMessage.length > 0"
                        [class.success]="serverMessageType === 'success'"
                        [class.error]="serverMessageType === 'error'">
                        {{serverMessage}}
                    </span>

                    <app-button [type]="'submit'" [variant]="'primary'" [disabled]="isSending" class="contact-submit">{{contactSectionData.contactSectionFormSubmitBtnText}}</app-button>

                </div>

            </form>


        </aside>

    }@else {
        <span>Loading...</span>
    }

</section>