<section class="contact-section">
    <aside class="contact-column-one">
        <p class="contact-eyebrow">Contact me</p>
        <h2>Let's work together</h2>
        <article class="contact-description">
            <p>Got a problem to solve?</p>
            <p>
                Encourage people to contact you and describe what role you are interested in.
                Show that you will add value to their projects through your work.
            </p>
            <p>
                Need a Frontend developer?
                <span> Let’s talk!</span>
            </p>
        </article>
    </aside>

    <aside class="contact-column-two">

        @if(contactFields){

            <form action="">

            @for(field of contactFields; track field; let index = $index; let last = $last){
                
                <app-contact-item 
                    [contactTitle]="field.title" 
                    [contactPlacholder]="field.placeholterText"
                    [contactItemIndex]="'contact_id_' + index"
                    [contactErrorText]="field.errorText"
                    >

                </app-contact-item>

                @if(last){
                    <div class="contact-line"></div>
                }
            }


            </form>
        }

        
    </aside>

</section>