@import './../../../../styles.scss';

$backDrop: 5.3px;

section{
    position: absolute;
    left: 0;
    bottom: 100px;
    @include display-flex-setup(row, space-evenly, center, 56px);
    height: 62px;
    width: 100%;
    overflow: hidden;
    isolation: isolate;
}

section::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.12);
    -webkit-backdrop-filter: blur($backDrop);
    backdrop-filter: blur($backDrop); 
    z-index: 0;
    pointer-events: none
}

.marquee-dot{
    height: 8px;
    width: 8px;
    background-color: var(--default-element-color);
    border-radius: 9999px;
    padding-left: 8px;
}

.marquee-text{
    font-family: 'Karla';
    font-size: 32px;
    font-weight: 400;
    color: var(--default-element-color);
    white-space: nowrap;
}

.marquee-dot, .marquee-text{
    position: relative;
    z-index: 1;
}