@import './../../../../styles.scss';

$backDrop: 4px;


.projects-grid{
    display: grid;
    grid-template-columns: 3fr 380px; 
}

.projects-items-column{
    grid-column: 1;
}

.projects-line{
    grid-column: 1;
    width: 100%;
    height: 2px;
    background-color: var(--default-element-color);
}

.project-item{
    width: 100%;
    grid-column: 1;
    position: relative;
    z-index: 2;
}

.project-item > *{
    position: relative;
    z-index: 1;
}

.project-item::before{
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-color: rgba(61, 207, 182, 0.3);
    -webkit-backdrop-filter: blur($backDrop);
    backdrop-filter: blur($backDrop);
    opacity: 0;
    transition: all 150ms ease-in;
}

.project-item:hover::before{
    opacity: 1;
}

.projects-img-column{
    position: relative;
    grid-column: 2;
    @include display-flex-setup(row, flex-end, center);
}

