


@if(portFolioProjects){

    <article class="projects-grid">
        <div class="projects-items-column">
            @for ( entry of portFolioProjects; track entry.id; let index = $index; let last = $last;) {

                <div class="projects-line"></div>
                <div class="project-item">
                    <app-portfolio-menu-item 
                        [projectTitle]="entry.projectTitle" 
                        [projectSkills]="entry.skills" 
                        [menuItemIndex]="'project_id_' + index"
                        (hoverPortfolioMenuEvent)="receiveMenuItemHoverId($event)"
                        (click)="projectSelect(entry)"
                    ></app-portfolio-menu-item>
                </div>

                @if(last){
                    <div class="projects-line"></div>
                }
            }
        </div>

        <div class="projects-img-column">
            @for ( entry of portFolioProjects; track entry.id; let index = $index; let first = $first; let last = $last;){
                <app-portfolio-menu-image 
                    [imageName]="entry.imageKey" 
                    [currentMenuItemIndex]="'project_id_' + index"
                    [isFirst]="first"
                    [isLast]="last"
                    [currentHoveredMenuItemId]="portfolioMenuItemHoverId"
                    ></app-portfolio-menu-image>
            }
        </div>


    </article>

}

