
<section class="aboutMe-section">
    <article class="aboutMe-mainGrid">
        <aside class="foto-grid">
            <div class="foto-container">
                <div class="aboutMe-deco"></div>
                <!-- <img src="" alt="Foto"> -->
                <div class="aboutMe-foto"></div> <!-- Platzhalter für echtes Foto-->
            </div>
        </aside>
        <aside class="aboutMe-boxGrid">
            <div class="aboutMe-container">

                @if(aboutMeData$ | async; as aboutMeData){
                    <app-card cardType="aboutMe">
                        <span cardEyebrow>{{aboutMeData.aboutMeEyeBrow}}</span>
                        <h2 class="mb-24 z1" cardTitle>{{aboutMeData.aboutMeTitle}}</h2>
                        <p class="card-body z1" cardBody>
                            {{aboutMeData.aboutMeDescription}}
                        </p>
                        <div cardItems>
                            @for(bulletPoint of aboutMeData.aboutMeEntrys; track $index){
                                <div app-info-item [iconName]="bulletPoint.entryIconName">{{bulletPoint.entryMessage}}</div>
                            }
                        </div>
                    </app-card>
                }
               
            </div>
        </aside>
    </article>
</section>