
<section class="aboutMe-section">
    <article class="aboutMe-mainGrid">
        <aside class="foto-grid">
            <div class="foto-container">
                <div class="aboutMe-deco"></div>
                <!-- <img src="" alt="Foto"> -->
                <div class="aboutMe-foto"></div> <!-- Platzhalter für echtes Foto-->
            </div>
        </aside>
        <aside class="aboutMe-boxGrid">
            <div class="aboutMe-container">

                @if(aboutMeData$ | async; as aboutMeData){
                    <app-card cardType="aboutMe">
                        <span cardEyebrow>{{aboutMeData.aboutMeEyeBrow}}</span>
                        <h2 class="mb-24 z1" cardTitle>{{aboutMeData.aboutMeTitle}}</h2>
                        <p class="card-body z1" cardBody>
                            {{aboutMeData.aboutMeDescription}}
                        </p>
                        <ul cardItems>
                            @for(bullentPoint of aboutMeData.aboutMeEntrys; track $index){
                                <li app-info-item [iconName]="bullentPoint.entryIconName">{{bullentPoint.entryMessage}}</li>
                            }
                        </ul>
                    </app-card>
                }
               
            </div>
        </aside>
    </article>
</section>