<section class="dialog" (click)="$event.stopPropagation()">
    <div class="content-card">
        <app-card [cardType]="'dialog'">
            <h2 class="project-id" cardTitle>{{projectEntry.id}}</h2>
            <h3 class="project-title" cardBody>{{projectEntry.projectTitle}}</h3>
            <h5 class="project-sub" cardSubtitle>What is this project about?</h5>
            <p class="project-description" cardSubtext>{{projectEntry.description}}</p>
            <div cardSkills class="project-skills">
                @for(skill of projectEntry.skills; track skill){
                    <app-skill-icon [skillIconType]="'ProjectSkills'" [iconName]="skill.iconName">
                        {{skill.iconText}}
                    </app-skill-icon>
                }
            </div>
            <div cardButton class="project-buttons">
                <app-button 
                    [type]="'button'"
                    [variant]="'tertiary'"
                    [iconPosition]="'right'"
                    [iconPath]="'./assets/icon/arrowOutwardGreen.svg'"
                    [externalLink]="projectEntry.githubUrl"
                >GitHub</app-button>
                <app-button
                    [type]="'button'"
                    [variant]="'tertiary'"
                    [iconPosition]="'right'"
                    [iconPath]="'./assets/icon/arrowOutwardGreen.svg'"
                    [externalLink]="projectEntry.projectUrl"
                >Live Test</app-button>
            </div>
        </app-card>
    </div>
    <aside class="close_image_next">
        <div class="project-close-area">
            
        </div>
        <div class="project-image-area">
             <img src="/assets/img/{{projectEntry.imageKey}}.jpg" alt="" class="">
        </div>
        <div class="project-next-area">
            <span class="next-text" (click)="onNextProject()">Next project</span>
            <div class="next-icon-container">
                <img class="next-icon" src="./assets/icon/arrowForwardGreen.svg" alt="">
            </div>
        </div>
    </aside>
</section>
