<section class="dialog">
    <div class="content-card">
        <app-card [cardType]="'dialog'">
            <h2 class="project-id" cardTitle>{{projectEntry.id}}</h2>
            <h3 class="project-title" cardBody>{{projectEntry.projectTitle}}</h3>
            <h5 class="project-sub" cardSubtitle>What is this project about?</h5>
            <p class="project-description" cardSubtext>{{projectEntry.description}}</p>
            <div cardSkills class="project-skills">
                @for(skill of projectEntry.skills; track skill){
                    <app-skill-icon [skillIconType]="'ProjectSkills'" [iconName]="skill.iconName">
                        {{skill.iconText}}
                    </app-skill-icon>
                }
            </div>
        </app-card>
    </div>
    <div class="close_image_next">
        
    </div>
</section>
