<section class="dialog" (click)="$event.stopPropagation()">
    <div class="content-card">
        <app-card [cardType]="'dialog'">
            <h2 class="project-id" cardTitle>{{projectEntry.id}}</h2>
            <h3 class="project-title" cardBody>{{projectEntry.projectTitle}}</h3>
            <h5 class="project-sub" cardSubtitle>{{getCurrentProjectSubtitle()}}</h5>
            <p class="project-description" cardSubtext>{{ getCurrentDescription() }}</p>
            <div cardSkills class="project-skills">
                @for(skill of projectEntry.skills; track skill){
                    <app-skill-icon [skillIconType]="'ProjectSkills'" [iconName]="skill.iconName">
                        {{skill.iconText}}
                    </app-skill-icon>
                }
            </div>
            <div cardButton class="project-buttons">
                <app-button 
                    [type]="'button'"
                    [variant]="'tertiary'"
                    [iconPosition]="'right'"
                    [iconPath]="'./assets/icon/arrowOutwardGreen.svg'"
                    [externalLink]="projectEntry.githubUrl"
                >GitHub</app-button>
                @if(liveTestButtonText$ | async; as liveTestButtonText){
                    <app-button
                        [type]="'button'"
                        [variant]="'tertiary'"
                        [iconPosition]="'right'"
                        [iconPath]="'./assets/icon/arrowOutwardGreen.svg'"
                        [externalLink]="projectEntry.projectUrl"
                    >{{liveTestButtonText}}</app-button>
                }@else {
                    <span>Loading...</span>
                }
                
            </div>
        </app-card>
    </div>
    <aside class="close_image_next">
        <div class="project-close-area">
            <div class="project-close-icons-container" (click)="onDialogContentCloseAction()">
                <img class="project-close-sm" src="./assets/icon/closeSmall.svg" alt="">
                <img class="project-close-lg" src="./assets/icon/closeGreen.svg" alt="">
            </div>
        </div>
        <div class="project-image-area">
             <img src="{{projectEntry.imageUrl}}" alt="" class="">
        </div>
        <div class="project-next-area">
            @if(nextProjectBottonText$ | async; as nextProjectBottonText){
                <span class="next-text" (click)="onNextProject()">{{nextProjectBottonText}}</span>
            }@else {
                <span>Loading...</span>
            }
            
            <div class="next-icon-container">
                <img class="next-icon" src="./assets/icon/arrowForwardGreen.svg" alt="">
            </div>
        </div>
    </aside>
</section>
