@import './../../../../styles.scss';

$backDrop: 5.3px;

.marquee-container {
    position: absolute;
    left: 0;
    bottom: 0;
    @include display-flex-setup(row, flex-start, center);
    width: 105%;
    height: 62px;
    overflow: hidden;
    isolation: isolate;
    transform: rotate(-3deg) translateY(-100%) translateX(-21px);
    -webkit-user-select: none;
    user-select: none;
    padding: 0 24px;
    z-index: 2;
}

.marquee-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.12);
    -webkit-backdrop-filter: blur($backDrop);
    backdrop-filter: blur($backDrop);
    z-index: 0;
    pointer-events: none
}

.fade-viewport {
    @include fadeInOut(0%, 100%, 14%, 80%);
}

.marquee-track {
    --trackShift: 0px;
    --duration: 20s;
    --marqueeFontSize: 32px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    flex: 0 0 auto;
    padding-left: 56px;
    will-change: transform;
    animation: none;

}

.marquee-track.is-ready {
    animation: slideText var(--duration) linear infinite;
}

.marquee-group {
    position: relative;
    display: flex;
    align-items: center;
    gap: 56px;
    padding-right: 56px;
    flex: 0 0 auto;
    width: max-content;
}

.marquee-dot {
    @include createOneDot(8px, 8px);
}

.marquee-text {
    font-family: 'Karla';
    font-weight: 400;
    font-size: var(--marqueeFontSize);
    color: var(--default-element-color);
    white-space: nowrap;
}

.marquee-dot,
.marquee-text {
    position: relative;
    z-index: 2;
}


@keyframes slideText {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(var(--trackShift) * -1));
    }
}

@media (prefers-reduced-motion: reduce) {
    .marquee-track {
        animation: none;
    }
}