@import './../../../../../styles.scss';

.portfolio-img-container{
    position: absolute;
    inset: 0;
    padding-left: 64px;
}

.project-img-box{
    position: relative;
    @include display-flex-setup(row, flex-start, flex-start);
    width: 316px;
    height: 214px;
}

.project-img{
    position: absolute;
    width: 295px;
    height: 192px;
    object-fit: cover;
    border-radius: 16px;
    z-index: 2
}

.project-background{
    z-index: 1;
    width: 295px;
    height: 192px;
    background-image: url('/assets/decor/imgBackgroundDecorPortfolio.svg');
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(20px) translateY(20px);

}