@import './colors.scss';
@import './sizes.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: var(--background-dark);
}

html.no-scroll,
body.no-scroll{
    overflow: hidden;
    padding-right: 10px;
}


app-root {
    display: block;
    min-height: 100dvh;
}

@mixin display-flex-setup($direction: row, $justify: center, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}


@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Fira_Code';
    src: url('./assets/font/firaCode/FiraCode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira_Code';
    src: url('./assets/font/firaCode/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira_Code';
    src: url('./assets/font/firaCode/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira_Code';
    src: url('./assets/font/firaCode/FiraCode-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira_Code';
    src: url('./assets/font/firaCode/FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@mixin font-setup($fontFamiliy: 'Karla', $fontSize: 16px, $fontWeight: 400, $fontColor: #fff, $lineHeight: auto){
    font-family: $fontFamiliy;
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $fontColor;
    line-height: $lineHeight;
}

.visually-hidden {
    position: absolute;
    left: -9999px;
}

h2{
    font-family: "Fira_Code";
    font-size: 64px;
    font-weight: 700;
    color: var(--default-element-color);
    overflow: hidden;
    letter-spacing: -3%;
}


.mb-24{
    margin-bottom: 24px;
}


.z1{
    z-index: 1;
}


.card-body{
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    word-wrap: normal;
}


@mixin createOneDot($width: 4px, $height: 4px, $color: var(--default-element-color)){
    display: inline-block;
    height: $height;
    width: $width;
    background-color: $color;
    border-radius: 9999px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff !important;
    caret-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px var(--background-dark) inset !important;
    box-shadow: 0 0 0 1000px var(--background-dark) inset !important;
    transition: background-color 99999s ease-out 0s, color 99999s ease-out 0s;
}

@mixin fadeInOut($start: 0%, $end: 100%, $stepFromStart: 14%, $stepToEnd: 80%){
    -webkit-mask-image: linear-gradient(to right,
            transparent $start,
            black $stepFromStart,
            black $stepToEnd,
            transparent $end );
    mask-image: linear-gradient(to right,
            transparent $start,
            black $stepFromStart,
            black $stepToEnd,
            transparent $end );
    overflow: hidden;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.page-wrapper {
    width: 100%;
    max-width: 1920px;
    margin-inline: auto;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.page-wrapper > app-footer {
    margin-top: auto;
    width: 100%;
}

.text-page-content{
    padding-left: 170px;
    padding-right: 170px;
    margin-bottom: 96px;
}

.page-title{
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
    @include font-setup('Fira_Code', 64px, 700, var(--default-element-color), 120%);
    overflow: hidden
}

.text-paragraph {
    margin-bottom: 20px;
}

.section-title {
    @include font-setup('Karla', 19px, 700, #fff, 120%);
}

.section-title.more-space {
    margin-bottom: 16px;
}

.normal {
    @include font-setup('Karla', 16px, 400, var(--default-element-color), 120%);
}

.normal.accent {
    color: #fff;
}

.normal.mail-link {
    text-decoration: none;
    transition: color 125ms ease-in;
}

.normal:hover, .mail-link:hover{
     color: #fff
}   


.dot {
    @include createOneDot(4px, 4px);
    transform: translateY(-3.5px);
    margin-right: 6px;
    margin-left: 4px;
}