@import './colors.scss';
@import './sizes.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@mixin display-flex-setup($direction: row, $justify: center, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

.visually-hidden {
    position: absolute;
    left: -9999px;
}