@import './colors.scss';
@import './sizes.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: var(--background-dark);
}

@mixin display-flex-setup($direction: row, $justify: center, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/font/karla/Karla-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Fira_Code';
    src: url('./assets/font/firaCode/FiraCode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira_Code';
    src: url('./assets/font/firaCode/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira_Code';
    src: url('./assets/font/firaCode/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira_Code';
    src: url('./assets/font/firaCode/FiraCode-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira_Code';
    src: url('./assets/font/firaCode/FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



.visually-hidden {
    position: absolute;
    left: -9999px;
}

h2{
    font-family: "Fira_Code";
    font-size: 64px;
    font-weight: 700;
    color: var(--default-element-color);
    overflow: hidden;
    letter-spacing: -3%;
}


.mb-24{
    margin-bottom: 24px;
}


.z1{
    z-index: 1;
}


.card-body{
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    word-wrap: normal;
}


@mixin createOneDot($width: 4px, $height: 4px, $color: var(--default-element-color)){
    display: inline-block;
    height: $height;
    width: $width;
    background-color: $color;
    border-radius: 9999px;
}

@mixin fadeInOut($start: 0%, $end: 100%, $stepFromStart: 14%, $stepToEnd: 80%){
    -webkit-mask-image: linear-gradient(to right,
            transparent $start,
            black $stepFromStart,
            black $stepToEnd,
            transparent $end );
    mask-image: linear-gradient(to right,
            transparent $start,
            black $stepFromStart,
            black $stepToEnd,
            transparent $end );
    overflow: hidden;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}