@import './colors.scss';
@import './sizes.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin display-flex-setup($direction: row, $justify: center, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}