@import './../../../styles.scss';

.button {
    display: inline-flex;
    align-items: center;
    height: 48px;
    cursor: pointer;
    border: solid 1px white;
    padding: 12px 24px;
    background: transparent;
    border-radius: 9999px;
    transition: color 125ms ease-in-out;
    overflow: hidden;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.button.is-hovered {
    border-color: var(--default-element-color);

    .label {
        color: var(--default-element-color);
        animation:
            marqueeAnimation 2s ease,
            slideTextIn 3s linear 2s infinite;
    }
}

.label {
    white-space: nowrap;
    font-size: 18px;
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: transform 300ms ease-out, color 125ms ease-in-out;
}

@keyframes marqueeAnimation {
    0% {
        transform: translateX(0);
    }

    2% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-150%);

    }

}


@keyframes slideTextIn {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(-150%);
    }
}