@import './../../../../styles.scss';

:host {
    position: relative;
    z-index: 1;
    margin-top: 24px;
    display: grid;
    grid-template-columns: 56px 1fr;
    cursor: pointer;
    transition: color 100ms ease-in;
}


.card-list-item-icon {
    grid-column: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    object-fit: contain;
    object-position: center;
    
}

.card-list-item-content {
    grid-column: 2;
    @include font-setup('Karla', 18px, 400, rgba(255, 255, 255, 0.80));
    transition: color 100ms ease-in;
}

:host:hover .card-list-item-content,
:host(.card-list-item):hover .card-list-item-content {
    color: rgb(255, 255, 255, 1);
}

