@import './../../../styles.scss';

.references-section {
    margin-bottom: 120px;
}

.references-headline{
    @include display-flex-setup(row, center, center);
    margin-bottom: 48px;

    & h3{
        font-family: "Fira_Code";
        font-size: 32px;
        font-weight: 700;
        color: var(--default-element-color);
    }
}

.references-card-container{
    position: relative;
    @include display-flex-setup(row, center, center);
    height: 310px;
    padding-bottom: 16px;
    overflow: hidden;
}

.fade-cards {
    @include fadeInOut(0%, 100%, 14%, 80%);
}

.references-card{
    position: absolute;
    flex-shrink: 0;
    width: 632px;
    height: 274px;
    margin-left: 16px;
    margin-right: 16px;
    transition: transform 500ms ease, filter 500ms ease;
}

.references-card-left-off{
    filter: brightness(0.8);
    transform: translateX(-220%) scale(0.8);
}

.references-card-left{
    filter: brightness(0.8);
    transform: translateX(-110%) scale(0.8);
}

.references-card-activ{
    opacity: 1;
    filter: brightness(1.1);
    transform: translateX(0);
}

.references-card-right{
    filter: brightness(0.8);
    transform: translateX(110%) scale(0.8);
}

.references-card-right-off{
    filter: brightness(0.8);
    transform: translateX(220%) scale(0.8);
}

.references-card-left-out{
    filter: brightness(0.8);
    transform: translateX(-440%) scale(0.8);
}

.no-animation{
    transition: none !important;
}

.references-comment{
    font-family: 'Karla';
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.references-card-content{
    @include display-flex-setup(column, space-between, center);
    height: 100%;
}

.references-writer-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;

}

.writer-columns-one{
    width: 100%;
    @include display-flex-setup(row, center, center);
    
    & div{
        width: 100%;
        height: 1px;
        background-color: #fff;
    }

}

.references-writer{
    padding-left: 12px;
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.reference-button-container{
    @include display-flex-setup(row, center, center, 20px);
}

.reference-swipe-btn{
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    border: unset;
    outline: unset;
    @include display-flex-setup(row, center, center);
}

.reference-swipe-btn-img-container{
    position: relative;
    box-sizing: border-box;
    @include display-flex-setup(row, center, center);
    height: 28px;
    width: 28px;
}

.reference-arrow-left{
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: all 100ms ease-in;
}

.reference-arrow-right{
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: all 100ms ease-in;
}

.reference-arrow-left-white{ opacity: 1;}
.btn-back:hover .reference-arrow-left-white {opacity: 0;}
.btn-back:hover .reference-arrow-left-green {
    opacity: 1;
    transform: translateX(-3px);
}

.reference-arrow-right-white{ opacity: 1;}
.btn-forward:hover .reference-arrow-right-white {opacity: 0;}
.btn-forward:hover .reference-arrow-right-green {
    opacity: 1;
    transform: translateX(3px);
}


.reference-swipe-dot{
    @include createOneDot(8px, 8px);
    transition: background-color 125ms ease-in;
}

.dot-green{
    background-color: var(--default-element-color);
}

.dot-white{
    background-color: #fff;
}

.quotes-container{
    position: absolute;
    z-index: 20;
    inset: 0;
    @include display-flex-setup(row, center, flex-start);
    transform: translateX(-316px);
}