
<section class="hero-section">
    <app-header class="hero-header"></app-header>
    <article>
        <span>{{(developer$! | async)}}</span>
        <h1>Enrico Hoffmann</h1>
        <div class="btn-container">

            @for(buttonLink of (heroButtonLinks$! | async); track $index){
                <app-button 
                [type]="'button'" 
                [variant]="'primary'"
                [target]="buttonLink.linkTarget"
                [targetFragment]="'buttonLink.linkTargetFragment'"
                >{{buttonLink.linkName}}</app-button>
            }
        </div>
    </article>

    <app-hero-lateral class="leteral"></app-hero-lateral>
    <app-hero-marquee [marqueeFontSize]="32"></app-hero-marquee>
    
</section>
