@import './../../../styles.scss';

:host {
    overflow: hidden;
}

.hero-section {
    position: relative;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    background: linear-gradient(30deg, #1c1c1c 23%, #08463b 100%);
    @include display-flex-setup(column, center, center);
}

.hero-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hero-content {
    @include display-flex-setup(column, center, center);
    z-index: 2;
    padding-bottom: 0;
    transition: padding-bottom 75ms ease;

    & span {
        @include font-setup('Fira_Code', clamp(18px, 1.4vw, 40px), 400, var(--text-color-default));
        overflow: hidden;
        transition: padding-bottom 100ms ease-in;
    }

    & h1 {
        @include font-setup('Karla', clamp(38px, 7.8vw, 128px), 700, var(--text-color-default));
        letter-spacing: -2%;
        overflow: hidden;
    }

}

.btn-container {
    @include display-flex-setup(row, center, center, 48px);
    padding-top: 48px;
    transition: gap 100ms ease-in;
}

.leteral {
    z-index: 0;
}

@media(max-width: 901px) {
    .hero-content {
        & span {
            margin-bottom: 16px;
        }
    }
}

@media(max-width: 400px) {
    .btn-container {
        gap: 12px;
    }
}

@media(max-height: 740px) {
    .hero-content {
        padding-bottom: clamp(0px, 10vh, 140px);
    }
}