@import './../../../styles.scss';

#portfolio{
    margin-top: 76px;
    padding: 0 120px;
    min-height: 880px;
}

.portfolio-label {
    font-family: 'Karla';
    font-size: 24px;
    font-weight: 700;
    color: var(--default-element-color);
}

.portfolio-headline{
    margin-top: 16px;
    padding-bottom: 24px;
}

.portfolio-introduction{
    max-width: 456px;
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.portfolio-menu-container{
    margin-top: 48px;
}