<section class="portfolio-section">

    @if(portfolioSectionData$ | async; as portfolioSectionData ){
        <span class="portfolio-label">{{portfolioSectionData.projectSectionEyebrow}}</span>
        <h2 class="portfolio-headline">{{portfolioSectionData.projectSectionHeadline}}</h2>
        <p class="portfolio-introduction">{{portfolioSectionData.projectSectionDescription}}</p>
    }@else{
        <span>Loading...</span>
    }
    

    <div class="portfolio-menu-container">
        <app-portfolio-menu [portFolioProjects]="portfolioPojects"  (selectedProjectSender)="onProjectIdRelaying($event)"></app-portfolio-menu>
    </div>

</section>
