@import './../../../styles.scss';

.portfolio-section{
    margin-top: 100px;
    padding: 0 120px;
    margin-bottom: 150px;
}

.portfolio-label {
    @include font-setup('Karla', 24px, 700, var(--default-element-color), 120%)
}

.portfolio-headline{
    margin-top: 16px;
    padding-bottom: 24px;
}

.portfolio-introduction{
    max-width: 456px;
    @include font-setup('Karla', 18px, 400, #fff, 120%);
}

.portfolio-menu-container{
    margin-top: 48px;
}

@media(max-width: 1200px){
    .portfolio-section {
        margin-left: auto;
        margin-right: auto;
        width: min(90vw, 570px);
        width: min(90dvw, 570px);
        padding: 0;
    }

    .portfolio-introduction {
        max-width: 90vw;
        width: 90vw;
        width: 90dvw;
    }
}